*.diff
*.err
*.orig
*.rej
*.swo
*.swp
*.vi
*.old
*~
.DS_Store
.cache
.project
.settings
.svn
errors.err
tags
app/tmp/
_*
config/database.php
old
app/webroot/files/uploads/*
app/webroot/media/*
google_ad_example.txt